body{
margin: 0;
  background-image: url("Imagens/Fundo.jpg");
    background-repeat: no-repeat;
      background-position: center;
        background-size: cover;
          background-color: white;
            background-attachment: fixed;

  color: black;
}

header {
  text-align: center;
    background-image: linear-gradient(to top, #ba008f, #4f013c);
}

p {
  font-size: 20px;
    font-family: Arial, Times New Roman;
      margin-left: 20px;
        margin-right: 20px;
}

h1{
  margin-left: 20px;
    font-size: 30px;
      font-family: Helvetica, Times New Roman;
}

img {
  margin-left: 20px;
}

.perfil {
  border: 3px solid black;
    background-color: red;
}

.linha {
  padding: 3px;
    background-color: #02f206;
     margin-bottom: 65px;
}

.exemplo {
  text-align: center;
}

.exemplo img {
  background-color: gray;
    margin-left: 50px;
}

.indice {
  margin-left: 575px;
    margin-right: 575px;
      border: 3px solid black;
}

section {
  font-family: Arial Black, Arial;
    font-size: 15px;
      background-image: linear-gradient(to top, #003602, #02a805);
        color: white;
          text-align: center;
           margin: 50px;
             border: 3px solid black;
}

main {
  margin-left: 50px;
    margin-right: 50px;
      background-color: white;
}

table {
  border-collapse: collapse;
    width: 35%;
      margin: auto;
        background-color: white;
          font-size: 25px;
            border: 1px solid black;
              font-family: Arial, Times New Roman;
}

td {
    padding: 6px;
      text-align: center;
        width: 30%;
          border: 1px solid black;
            font-size: 21px;
}

th {
  text-align: center;
    padding: 8px;
      color: white;

}

ul li {
  font-size: 16px;
    font-family: Arial, Times New Roman;
      margin-bottom: 15px;
}

footer {
  background-image: linear-gradient(to top, #ba008f, #4f013c);
    margin-top: 20px;
      text-align: center;
        color: white;
          font-size: 20px;
            font-family: Arial Black, Times New Roman;
              padding: 8px;
                border: 3px solid black;
}